*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Noto Sans Devanagari',sans-serif;

background:#f8f4eb;

color:#243028;

}

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 24px;

}

.logo img{

width:52px;

height:52px;

object-fit:contain;

}

.homebtn{

text-decoration:none;

color:#44584c;

padding:12px 24px;

border:1px solid #d7d0c2;

border-radius:50px;

background:white;

transition:.3s;

}

.homebtn:hover{

background:#f5f5f5;

}

.hero{

text-align:center;

padding:20px;

max-width:900px;

margin:auto;

}

.subtitle{

font-size:20px;

color:#a47d35;

font-weight:600;

margin-bottom:10px;

}

.hero h1{

font-size:64px;

font-weight:800;

margin-bottom:20px;

}

.intro{

font-size:28px;

line-height:1.7;

color:#606a62;

}
